body {
    margin: 25px;
    background-color: lightgrey;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* -------------------------------------  UPPER DISPLAY STYLING -------------------------------------  */
.upper_display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding-left: 25px;
    padding-right: 25px;
}

/* -------------------------------------  BUTTON MENU STYLING  ------------------------------------- */
.button_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

.button_menu button {
    justify-content: right;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    font-size: 16px;
}

/* Read / unread styling */
.read_unread {
    display: flex;
    align-items: center;
    gap: 10px;
}

.read, .unread {
    border-radius: 12px;
    border: black solid 1px;
    height: 50px;
    width: 50px;
}

.read {
    background-color: yellow;
}

.unread {
    background-color: #89CFF0;
}

#add_btn {
    background-color: #4CAF50;
}

#add_btn:hover {
    background-color: darkgreen;
}

#delete_btn {
    background-color: red;
}

#delete_btn:hover {
    background-color: darkred;
}

/* -------------------------------------  ADD BOOK POP-UP FORM STYLING  -------------------------------------  */
.form-popup {
    display: none;
    position: fixed;
    top: 12%;
    right: 25px;
    z-index: 9;
}

.form-container {
    max-width: 500px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
    background-color: white;
  }

  fieldset {
      margin: 10px;
      padding: 25px;
      gap: 25px;
  }

  label {
      display: block;
      margin-top: 10px;
  }
  
  .form-container button {
      display: inline;
      width: 100px;
      margin-top: 25px;
  }


#submit-form {
      background-color: #4CAF50;
}
#submit-form:hover {
    background-color: darkgreen;
}

#clear-form {
    background-color: #89CFF0;
}

#clear-form:hover {
    background-color: blue;
}

#close-form {
    background-color: red;
}

#close-form:hover {
    background-color: darkred;
}

/* -------------------------------------   LIBRARY CONTENTS STYLING  ------------------------------------- */
.library_contents {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    justify-content: left;
    gap: 25px;
    margin-right: auto;
}

/* Card styling */
.card {
    background-color: yellow;
    border: black solid 1px;
    border-radius: 25px;
    margin-bottom: 25px;
    width: 225px;
    padding: 10px;
    font-size: 16px;
}

.unread-card {
    background-color: #89CFF0;
}

.card:hover {
    transition: ease-in-out;
    transform: scale(1.1);
}

/* Read checkbox styling */
.read-book-checkbox {
    display: none;
}

.card:hover .read-book-checkbox {
    display: block;
}


/* Delete card hover styling */
.card:hover.delete {
    background-color:#E4D00A;
}


/* Footer styling */
footer {
    background-color: #669fb2;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}